<div class="px-20 py-10">
  <h1 class="text-3xl mb-10">People List</h1>
  <section>
    <table class="min-w-full divide-y divide-gray-200 shadow overflow-hidden border-b border-gray-200">
      <thead class="bg-gray-50">
        <tr>
          <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
            Full Name
          </th>
          <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
            Email
          </th>
          <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
            Job Title
          </th>
          <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
            Frecuency
          </th>
        </tr>
      </thead>
      <tbody class="bg-white divide-y divide-gray-200">
        <% @people.each do |person| %>
          <tr class="px-6 py-4 whitespace-nowrap">
            <td class="p-2"><%= person.display_name %></td>
            <td class="p-2">
              <%= person.email_address %>
              <div id="<%= person.id %>" class="hidden">
                <%= person.frecuency %>
              </div>
            </td>
            <td class="p-2"><%= person.title %></td>
            <td class="p-2">
              <button class="bg-blue-500 text-white px-4 py-2 rounded"
                      data-controller="frecuency"
                      data-action="click->frecuency#show"
                      data-frecuency-id-value="<%= person.id %>">
                Show Frecuency
              </button>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </section>
</div>
